/* General Layout and Typography */
body {
    font-family: Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

p {
    margin-bottom: 1em;
}

/* Header Styling */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #0D0D0D;
    color: #fff;
}

.left-section, .center-section, .right-section {
    flex: 1;
    text-align: center;
    padding: 5px;
}

/* Navigation Styling */
nav {
    background-color: #0077B6;
    padding: 0.625em 1.25em;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; /* Modified as needed based on JS */
}

.menu li a {
    display: inline-block;
    padding: 0.625em 1.25em;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}

.hamburger {
    display: block;
    font-size: 1.875em;
    cursor: pointer;
    text-align: center;
    padding: 0.625em;
    background: #333;
    color: white;
}

input[type="checkbox"]:checked + .hamburger + .menu {
    display: block;
}

/* Responsive Navigation */
@media (min-width: 768px) {
    .hamburger, #menu-toggle {
        display: none;
    }
    .menu {
        display: block;
        background: none;
    }
    .menu li {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .menu {
        width: 100%;
    }
}

/* Accordion Specific Styles */
.accordion, .accordion.nested {
    background-color: #0077B6;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: background-color 0.3s;
}

.accordion:hover, .accordion.nested:hover {
    background-color: #005fa8;
}

.panel, .panel > .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.nested {
    background-color: #0096C7;
    margin-left: 20px;
    margin-top: 10px;
}

/* Main Content and Footer Styling */
main {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #0077B6;
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

.site-footer a {
    color: #0077B6;
    text-decoration: none;
    transition: color 0.3s;
}

.site-footer a:hover {
    color: #005994;
}

.site-footer p {
    margin: 0.625rem 0;
}
