body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    color: #333; /* Darker text color for better readability */
}

header, nav, main, footer {
    padding: 0.625em;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.nav, .menu {
    list-style: none;
    padding: 0;
    background-color: #0077B6;
}

.menu li a {
    display: inline-block;
    padding: 0.625em 1.25em;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
    border-radius: 50%; /* Circular effect */
}

.menu li a:hover, .menu li a:focus {
    background-color: #005f8a;
    color: #FFD700;
}

.hamburger {
    display: block;
    cursor: pointer;
    background: #333;
    color: white;
    text-align: center;
    padding: 0.625em;
}

@media (min-width: 768px) {
    .hamburger, #menu-toggle {
        display: none; /* Hide hamburger icon and checkbox on larger screens */
    }
    .menu {
        display: flex;
        justify-content: center;
        background: none;
    }
    .menu li {
        display: inline-block; /* Horizontal menu */
    }
    .menu li a {
        padding: 15px;
    }
}

@media (max-width: 767px) {
    .menu {
        width: 100%;
        display: block; /* Ensure mobile menu is accessible */
    }
}

main {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1, h2, h3 {
    color: #0077B6;
}

.panel, .nested-panel {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 2rem auto;
    max-width: 800px; /* Enhances readability */
}

.accordion-button {
    cursor: pointer;
    background-color: #0077B6;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    outline: none;
}

.accordion-button:hover {
    background-color: #005fa8;
}

.site-footer {
    background-color: #333;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

.site-footer a {
    color: #0077B6;
    text-decoration: none;
    transition: color 0.3s;
}

.site-footer a:hover {
    color: #005994;
}

.site-footer p {
    margin: 0.625rem 0; 
}
